</article>
<!--bottom footer-->
<!--
<div class="page" id="footer">
   <div class="nav-bar">
      <div class="nav-bar-inner padding10">
         <span class="element">
            2012, Metro UI CSS © by
            <a class="fg-color-white" href="mailto:sergey@pimenov.com.ua">
               Sergey Pimenov
            </a>.
            Metro UI CSS 由
            <a href="http://www.bootcss.com/" class="fg-color-white">
               Bootstrap中文网
            </a>翻译整理
         </span>
      </div>
   </div>
</div>
-->
<div id="site-navbar"
     style="position: fixed; top: -4px; left: -3px; border: 0; z-index: 2000;padding:0;margin:0;">
     <a href="/" title="返回首页" style="background:none;">
     <img src="/images/return-back.png" style="padding:0;margin:0;border:0; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;">
     </a>
</div>
</body>
</html>

